<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="מעבד התמלילים,עורך טקסט עם יכולת של נוסחאות מתמטיות מורחבת.">
    <meta name="author" content="מריה בוטוסוב">
    <title>@ViewBag.Title - Expression</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header pull-right">
                <a class="navbar-brand" href="#"> expression - עורך טקסט עם יכולות מתמטיות בעברית</a>
            </div>
            <ul class="nav navbar-nav pull-right">
                <li class="active"><a href="https://github.com/StamCHik/expression.co.il">קוד פתוח</a></li>
            </ul>         
       </div>
    </nav>

    <div class="container body-content"> 
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year  expression.co.il.  
                תיכנות והתאמה ע''י 
            <a title="מריה בוטוסוב" href="http://mariabutusov.co.il">מריה בוטוסוב</a></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    
    <script type="text/javascript" src="~/Scripts/ckeditor.js"></script>

    @Scripts.Render("~/bundles/bootstrap?v=16")
    @RenderSection("scripts", required: false)
</body>
</html>
